*{
    box-sizing: border-box;
    background-color:#bbdfc8;
    font-family:'Times New Roman';
}
body header{
    width: 100%;
    margin: 30px;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: #1e6f5c;
    font-style: oblique;
    height: 12px;
    position: relative;
}

img {
    display: block;
    margin: 0 auto;
    margin-top :33px;
}
header ul li a{
    text-decoration: none;
    color:#1e6f5c ;
}
header ul li {
     display: inline-block;
     font-size: 30px;
     padding-right: 10%;
     padding-left:26% ;
     margin-bottom: 70px;
 }
#Locations h3 {
    margin: 25px;
    margin-bottom: 5px;
    padding-left: 10%;
    font-size: 20px;
    color: #31326f ;

}
#Locations table, th, td {
    margin-left:auto;
    margin-right:auto ;
    border: 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #1a1b3f ;
}
 #Locations table {
     width: 90%;
 }
 #Locations table th {
     font-style: oblique;
     font-size: 17px;
 }
h2 {
    margin:15px;
    color:#03506f;
    font-size: 40px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}
#Gallery img {
    margin-left:auto;
    margin-right:auto;
    
}
footer {
    color: #31326f;
    margin: 30px;
    margin-top: 60px;
    padding-left: 15%;

}
footer a {
    color:#31326f;
}
#Gallery{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
    height: 500px;
    border: 1px solid cadetblue;
    border-width: 70%;
    overflow: scroll;
    background-color: #a0c1b8;
    margin-bottom: 40px;
}
main p {
    color:#31326f;
    text-align: center;
    font-size: 27px; 
    margin : 40px;
    font-family: 'Architects Daughter', cursive;
}

main div {
    
    width:90%;
    margin:0 auto;
    margin-bottom: 20px;

}

#branch {
    margin-left: 10%;
    margin-bottom: 50px;
    
}
#branch fieldset{
    width: 40%;
    border: 2px dashed;
    margin:50px;
    margin-bottom: 20px;
    color:#31326f;
    text-align: justify;
    background-color:#d8ebe4;


}

#branch legend{
    margin: 10%;
    margin-bottom: 10px;
    font-size: 20px;
    font-style: oblique;
}

#branch label{
    margin:3%;
    background-color:#d8ebe4;
}

#branch input{
    margin-left: 5%;
    margin-bottom:10px ;

}
#Locations h3{
    font-style: oblique;
    font-size: 30px;
}
#Locations table{
    border:3px double;
}
#Locations table td {
    background-color:#d8ebe4;
}
#Locations table th {
    background-color:#a2d0c1;
    padding: 3px;
}
.breakline{ 
    width:80%;
    border-top: 8px solid #1e6f5c;;
    border-radius: 7px;
   
    }